{erl_opts, [debug_info]}.
{deps, []}.

{escript_main_app, erl_utils}. % specify which app is the escript app
% {escript_name, "FinalName"}. % name of final generated escript
{escript_incl_apps, [erl_utils]}. % apps (other than the main one and its deps) to be included
{escript_emu_args, "%%! -setcookie 123 -sname erl_utils\n"}. % emulator args
% {escript_shebang, "#!/usr/bin/env escript\n"}. % executable line
% {escript_comment, "%%\n"}. % comment at top of escript file

